@page
@model BookListRazor.Pages.BookList.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2 class="text-inf0">Create New Book</h2>
<br />

<div class="container border" style="padding:30px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Books.Name"></label>
            </div>
            <div class="col-6 ">
                <input asp-for="Books.Name" class="form-control" />
            </div> 
            <span asp-validation-for="Books.Name" class="text-danger"></span>
        </div>
       
        <div class="form-group row">

            <div class="col-3">
                <label asp-for="Books.Author"></label>
            </div>
            <div class="col-6 ">
                <input asp-for="Books.Author" class="form-control" />
            </div>
            <span asp-validation-for="Books.ISBN" class="text-danger"></span>

        </div> 
        <div class="form-group row">

            <div class="col-3">
                <label asp-for="Books.ISBN"></label>
            </div>
            <div class="col-6 ">
                <input asp-for="Books.ISBN" class="form-control" />
            </div>
            <span asp-validation-for="Books.ISBN" class="text-danger"></span>

        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" name="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control"> Back to List</a>
            </div>
        </div>
    </form>
</div>

